@{

    ViewData["Title"] = "Sharentach Trading Inc. | Dealers";
}
@* sample
<form method="post">
    <label for="DealerName">Dealer Name:</label>
    <input type="text" name="DealerName" value="" />
    <label for="DealerAddress">Dealer Address:</label>
    <input type="text" name="DealerAddress" value="" />
    <label for="DealerAccountId">Dealer Account Id:</label>
    <input type="number" name="DealerAccountId" value="" />
    <input type="submit" value="Submit" class="submit" />
    @*<input type="hidden" name="Id" value="@Model.Id" readonly />*@@*
</form>

<table cellpadding="5" width="100%">

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @i.Id
            </td>
            <td>
                @i.DealerName
            </td>
            <td>
                @i.DealerAddress
            </td>
            <td>
                @i.DealerAccountId
            </td>
            <td>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="border:solid" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
*@
<div class="header">DEALERS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li>
            <a class="tablinks" onclick="openTab(event, 'Particulars')">Particulars</a>
        </li>
        <li>
            <a class="tablinks" onclick="openTab(event, 'Bank')">Bank Reference</a>
        </li>
        <li>
            <a class="tablinks" onclick="openTab(event, 'Agents')">Agents</a>
        </li>
    </ul>
</div>

@* <form method="post">

    <div class="upper-body">
        <div class="form large">
            <label class="form-text" for="DealerBusinessName">Business Name:</label>
            <input type="text" class="form-type" name="DealerBusinessName" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerAddress">Address:</label>
            <input type="text" class="form-type" name="DealerAddress" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerTelNo">Telephone #:</label>
            <input type="text" class="form-type" name="DealerTelNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerCellNo">Cellphone #:</label>
            <input type="text" class="form-type" name="DealerCellNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerFaxNo">Fax #:</label>
            <input type="text" class="form-type" name="DealerFaxNo" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerBusinessType">Business Type:</label>
            <input type="text" class="form-type" name="DealerBusinessType" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerDateIssued">Date Issued:</label>
            <input type="text" class="form-type" name="DealerDateIssued" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerSecNo">Sec #:</label>
            <input type="text" class="form-type" name="DealerSecNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerEmail">Email:</label>
            <input type="text" class="form-type" name="DealerEmail" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerWebsite">Website:</label>
            <input type="text" class="form-type" name="DealerWebsite" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerAuthorizationCapital">Authorization Capital:</label>
            <input type="text" class="form-type" name="DealerAuthorizationCapital" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerSubscribedCapital">Subscribed Capital:</label>
            <input type="text" class="form-type" name="DealerSubscribedCapital" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerPaidUpCapital">Paid Up Capital:</label>
            <input type="text" class="form-type" name="DealerPaidUpCapital" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerTerms">Terms:</label>
            <input type="text" class="form-type" name="DealerTerms" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIRegNo">DTI Registration #:</label>
            <input type="text" class="form-type" name="DTIRegNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIDateIssued">DTI Date Issued:</label>
            <input type="text" class="form-type" name="DTIDateIssued" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIAmtCapital">DTI Amnt. Capital:</label>
            <input type="text" class="form-type" name="DTIAmtCapital" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIPaidUpCapital">DTI Paid Up Capital:</label>
            <input type="text" class="form-type" name="DTIPaidUpCapital" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTITaxAcctNo">DTI Tax Account #:</label>
            <input type="text" class="form-type" name="DTITaxAcctNo" placeholder="Enter here" />
        </div>

        <div class="button-horizontal">
            <button type="submit" class="button">Save</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>
</form> *@

<div class="tabcontent" id="Particulars">
    <form method="post">

        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="DealerBusinessName">Business Name:</label>
                <input type="text" class="form-type" name="DealerBusinessName" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerAddress">Address:</label>
                <input type="text" class="form-type" name="DealerAddress" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerTelNo">Telephone #:</label>
                <input type="text" class="form-type" name="DealerTelNo" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerCellNo">Cellphone #:</label>
                <input type="text" class="form-type" name="DealerCellNo" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerFaxNo">Fax #:</label>
                <input type="text" class="form-type" name="DealerFaxNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerBusinessType">Business Type:</label>
                <input type="text" class="form-type" name="DealerBusinessType" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerDateIssued">Date Issued:</label>
                <input type="text" class="form-type" name="DealerDateIssued" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerSecNo">Sec #:</label>
                <input type="text" class="form-type" name="DealerSecNo" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerEmail">Email:</label>
                <input type="text" class="form-type" name="DealerEmail" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerWebsite">Website:</label>
                <input type="text" class="form-type" name="DealerWebsite" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerAuthorizationCapital">Authorization Capital:</label>
                <input type="text" class="form-type" name="DealerAuthorizationCapital" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerSubscribedCapital">Subscribed Capital:</label>
                <input type="text" class="form-type" name="DealerSubscribedCapital" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerPaidUpCapital">Paid Up Capital:</label>
                <input type="text" class="form-type" name="DealerPaidUpCapital" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerTerms">Terms:</label>
                <input type="text" class="form-type" name="DealerTerms" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIRegNo">DTI Registration #:</label>
                <input type="text" class="form-type" name="DTIRegNo" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIDateIssued">DTI Date Issued:</label>
                <input type="text" class="form-type" name="DTIDateIssued" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIAmtCapital">DTI Amnt. Capital:</label>
                <input type="text" class="form-type" name="DTIAmtCapital" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIPaidUpCapital">DTI Paid Up Capital:</label>
                <input type="text" class="form-type" name="DTIPaidUpCapital" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="DTITaxAcctNo">DTI Tax Account #:</label>
                <input type="text" class="form-type" name="DTITaxAcctNo" placeholder="Enter here" />
            </div>

            <div class="button-horizontal">
                <button type="submit" class="button">Save</button>
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="tabcontent" id="Bank">
    <form method="post">

        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="accountNo">Account #:</label>
                <input type="text" class="form-type" name="accountNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="accountName">Account Name:</label>
                <input type="text" class="form-type" name="accountName" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="type">Type:</label>
                <input type="text" class="form-type" name="type" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="bank">Bank:</label>
                <input type="text" class="form-type" name="bank" placeholder="Enter here" />
            </div>

            <div class="button-horizontal">
                <button type="submit" class="button">Save</button>
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="tabcontent" id="Agents">
    <form method="post">

        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="lastName">Last Name:</label>
                <input type="text" class="form-type" name="accountNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="firstName">Account Name:</label>
                <input type="text" class="form-type" name="firstName" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="default">Default:</label>
                <input type="text" class="form-type" name="default" placeholder="Enter here" />
            </div>
            <div class="button-horizontal">
                <button type="submit" class="button">Save</button>
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>


<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>