
@{

    ViewData["Title"] = "Sharentach Trading Inc. | Dealers";
}
@* sample
<form method="post">
    <label for="DealerName">Dealer Name:</label>
    <input type="text" name="DealerName" value="" />
    <label for="DealerAddress">Dealer Address:</label>
    <input type="text" name="DealerAddress" value="" />
    <label for="DealerAccountId">Dealer Account Id:</label>
    <input type="number" name="DealerAccountId" value="" />
    <input type="submit" value="Submit" class="submit" />
    @*<input type="hidden" name="Id" value="@Model.Id" readonly />*@@*
</form>

<table cellpadding="5" width="100%">

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @i.Id
            </td>
            <td>
                @i.DealerName
            </td>
            <td>
                @i.DealerAddress
            </td>
            <td>
                @i.DealerAccountId
            </td>
            <td>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="border:solid" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
*@
<div class="header">DEALERS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li>
            <a class="tablinks" onclick="openTab(event, 'Particulars')" id="default">Particulars</a>
        </li>
        <li>
            <a class="tablinks" onclick="openTab(event, 'Bank')">Bank Reference</a>
        </li>
        <li>
            <a class="tablinks" onclick="openTab(event, 'Agents')">Agents</a>
        </li>
    </ul>
</div>

@* <form method="post">

    <div class="upper-body">
        <div class="form large">
            <label class="form-text" for="DealerBusinessName">Business Name:</label>
            <input type="text" class="form-type" name="DealerBusinessName" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerAddress">Address:</label>
            <input type="text" class="form-type" name="DealerAddress" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerTelNo">Telephone #:</label>
            <input type="text" class="form-type" name="DealerTelNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerCellNo">Cellphone #:</label>
            <input type="text" class="form-type" name="DealerCellNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerFaxNo">Fax #:</label>
            <input type="text" class="form-type" name="DealerFaxNo" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerBusinessType">Business Type:</label>
            <input type="text" class="form-type" name="DealerBusinessType" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerDateIssued">Date Issued:</label>
            <input type="text" class="form-type" name="DealerDateIssued" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerSecNo">Sec #:</label>
            <input type="text" class="form-type" name="DealerSecNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerEmail">Email:</label>
            <input type="text" class="form-type" name="DealerEmail" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DealerWebsite">Website:</label>
            <input type="text" class="form-type" name="DealerWebsite" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerAuthorizationCapital">Authorization Capital:</label>
            <input type="text" class="form-type" name="DealerAuthorizationCapital" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerSubscribedCapital">Subscribed Capital:</label>
            <input type="text" class="form-type" name="DealerSubscribedCapital" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerPaidUpCapital">Paid Up Capital:</label>
            <input type="text" class="form-type" name="DealerPaidUpCapital" placeholder="Enter here" />
        </div>
        <div class="form large">
            <label class="form-text" for="DealerTerms">Terms:</label>
            <input type="text" class="form-type" name="DealerTerms" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIRegNo">DTI Registration #:</label>
            <input type="text" class="form-type" name="DTIRegNo" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIDateIssued">DTI Date Issued:</label>
            <input type="text" class="form-type" name="DTIDateIssued" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIAmtCapital">DTI Amnt. Capital:</label>
            <input type="text" class="form-type" name="DTIAmtCapital" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTIPaidUpCapital">DTI Paid Up Capital:</label>
            <input type="text" class="form-type" name="DTIPaidUpCapital" placeholder="Enter here" />
        </div>
        <div class="form">
            <label class="form-text" for="DTITaxAcctNo">DTI Tax Account #:</label>
            <input type="text" class="form-type" name="DTITaxAcctNo" placeholder="Enter here" />
        </div>

        <div class="button-horizontal">
            <button type="submit" class="button">Save</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>
</form> *@

<div class="tabcontent" id="Particulars">
    <form method="post">

        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="DealerBusinessName">Business Name:</label>
                <input type="text" class="form-type" name="DealerBusinessName" placeholder="Enter here" value="@Model.Current.DealerBusinessName" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerAddress">Address:</label>
                <input type="text" class="form-type" name="DealerAddress" placeholder="Enter here" value="@Model.Current.DealerAddress" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerTelNo">Telephone #:</label>
                <input type="text" class="form-type" name="DealerTelNo" placeholder="Enter here" value="@Model.Current.DealerTelNo" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerCellNo">Cellphone #:</label>
                <input type="text" class="form-type" name="DealerCellNo" placeholder="Enter here" value="@Model.Current.DealerCellNo" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerFaxNo">Fax #:</label>
                <input type="text" class="form-type" name="DealerFaxNo" placeholder="Enter here" value="@Model.Current.DealerFaxNo" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerBusinessType">Business Type:</label>
                <input type="text" class="form-type" name="DealerBusinessType" placeholder="Enter here" value="@Model.Current.DealerBusinessType" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerDateIssued">Date Issued:</label>
                <input type="text" class="form-type" name="DealerDateIssued" placeholder="Enter here" value="@Model.Current.DealerDateIssued" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerSecNo">Sec #:</label>
                <input type="text" class="form-type" name="DealerSecNo" placeholder="Enter here" value="@Model.Current.DealerSecNo" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerEmail">Email:</label>
                <input type="text" class="form-type" name="DealerEmail" placeholder="Enter here" value="@Model.Current.DealerEmail" />
            </div>
            <div class="form">
                <label class="form-text" for="DealerWebsite">Website:</label>
                <input type="text" class="form-type" name="DealerWebsite" placeholder="Enter here" value="@Model.Current.DealerWebsite" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerAuthorizationCapital">Authorization Capital:</label>
                <input type="text" class="form-type" name="DealerAuthorizationCapital" placeholder="Enter here" value="@Model.Current.DealerAuthorizationCapital" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerSubscribedCapital">Subscribed Capital:</label>
                <input type="text" class="form-type" name="DealerSubscribedCapital" placeholder="Enter here" value="@Model.Current.DealerSubscribedCapital" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerPaidUpCapital">Paid Up Capital:</label>
                <input type="text" class="form-type" name="DealerPaidUpCapital" placeholder="Enter here" value="@Model.Current.DealerPaidUpCapital" />
            </div>
            <div class="form large">
                <label class="form-text" for="DealerTerms">Terms:</label>
                <input type="text" class="form-type" name="DealerTerms" placeholder="Enter here" value="@Model.Current.DealerTerms" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIRegNo">DTI Registration #:</label>
                <input type="text" class="form-type" name="DTIRegNo" placeholder="Enter here" value="@Model.Current.DTIRegNo" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIDateIssued">DTI Date Issued:</label>
                <input type="text" class="form-type" name="DTIDateIssued" placeholder="Enter here" value="@Model.Current.DTIDateIssued" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIAmtCapital">DTI Amnt. Capital:</label>
                <input type="text" class="form-type" name="DTIAmtCapital" placeholder="Enter here" value="@Model.Current.DTIAmtCapital" />
            </div>
            <div class="form">
                <label class="form-text" for="DTIPaidUpCapital">DTI Paid Up Capital:</label>
                <input type="text" class="form-type" name="DTIPaidUpCapital" placeholder="Enter here" value="@Model.Current.DTIPaidUpCapital" />
            </div>
            <div class="form">
                <label class="form-text" for="DTITaxAcctNo">DTI Tax Account #:</label>
                <input type="text" class="form-type" name="DTITaxAcctNo" placeholder="Enter here" value="@Model.Current.DTITaxAcctNo" />
            </div>

            <div class="button-horizontal">
                <input type="submit" class="button" asp-area="" asp-controller="Dealers" asp-action="edit" asp-route-id="@Model.Current.Id" value="Save"></input>
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="tabcontent" id="Bank">
    <div>
        <div class="upper-body scroll">
            <table cellpadding="5" width="100%">
                <tr>
                    <th>
                        accountNo
                    </th>
                    <th>
                        accountName
                    </th>
                    <th>
                        type
                    </th>
                    <th>
                        bank
                    </th>
                </tr>
                @foreach (var i in Model.CurrentBankRef)
                {
                    <tr>
                        <td>
                            @i.accountNo
                        </td>
                        <td>
                            @i.accountName
                        </td>
                        <td>
                            @i.type
                        </td>
                        <td>
                            @i.bank
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Dealers" asp-action="editbank" asp-route-id="@i.Id" asp-route-dealerid="@i.dealerId">
                                edit
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="tabcontent" id="Agents">

    <div>
        <div class="upper-body">
            <table cellpadding="5" width="100%">
                <tr>
                    <td>
                        lastName
                    </td>
                    <td>
                        firstName
                    </td>
                    <td>
                        default
                    </td>
                </tr>
                @foreach (var i in Model.CurrentAgents)
                {
                    <tr>
                        <td>
                            @i.lastName
                        </td>
                        <td>
                            @i.firstName
                        </td>
                        <td>
                            @i.isDefault
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Dealers" asp-action="editagents" asp-route-id="@i.Id" asp-route-dealerid="@i.dealerId">
                                edit
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
</div>


<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    DealerBusinessName
                </th>
                <th>
                    DealerAddress
                </th>
                <th>
                    DealerTelNo
                </th>
                <th>
                    DealerCellNo
                </th>
                <th>
                    DealerFaxNo
                </th>
                <th>
                    DealerEmail
                </th>
                <th>
                    DealerWebsite
                </th>
                <th>
                    DealerBusinessType
                </th>
                <th>
                    DealerSecNo
                </th>
                <th>
                    DealerDateIssued
                </th>
                <th>
                    DealerAuthorizationCapital
                </th>
                <th>
                    DealerSubscribedCapital
                </th>
                <th>
                    DealerPaidUpCapital
                </th>
                <th>
                    DTIRegNo
                </th>
                <th>
                    DTIDateIssued
                </th>
                <th>
                    DTIAmtCapital
                </th>
                <th>
                    DTIPaidUpCapital
                </th>
                <th>
                    DTITaxAcctNo
                </th>
                <th>
                    DealerTerms
                </th>
            </tr>
            @foreach (var i in Model.Details)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Dealers" asp-action="index" asp-route-id="@i.Id">
                            @i.Id
                        </a>
                    </td>
                    <td>
                        @i.DealerBusinessName
                    </td>
                    <td>
                        @i.DealerAddress
                    </td>
                    <td>
                        @i.DealerTelNo
                    </td>
                    <td>
                        @i.DealerCellNo
                    </td>
                    <td>
                        @i.DealerFaxNo
                    </td>
                    <td>
                        @i.DealerEmail
                    </td>
                    <td>
                        @i.DealerWebsite
                    </td>
                    <td>
                        @i.DealerBusinessType
                    </td>
                    <td>
                        @i.DealerSecNo
                    </td>
                    <td>
                        @i.DealerDateIssued
                    </td>
                    <td>
                        @i.DealerAuthorizationCapital
                    </td>
                    <td>
                        @i.DealerSubscribedCapital
                    </td>
                    <td>
                        @i.DealerPaidUpCapital
                    </td>
                    <td>
                        @i.DTIRegNo
                    </td>
                    <td>
                        @i.DTIDateIssued
                    </td>
                    <td>
                        @i.DTIAmtCapital
                    </td>
                    <td>
                        @i.DTIPaidUpCapital
                    </td>
                    <td>
                        @i.DTITaxAcctNo
                    </td>
                    <td>
                        @i.DealerTerms
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="button-vertical">
        <a asp-area="" asp-controller="Dealers" asp-action="add" class="button">Add</a>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>

<script>
    document.getElementById("default").click();
</script>