@{

    ViewData["Title"] = "Sharentach Trading Inc. | Dealers";
}
@* sample
<form method="post">
    <label for="DealerName">Dealer Name:</label>
    <input type="text" name="DealerName" value="" />
    <label for="DealerAddress">Dealer Address:</label>
    <input type="text" name="DealerAddress" value="" />
    <label for="DealerAccountId">Dealer Account Id:</label>
    <input type="number" name="DealerAccountId" value="" />
    <input type="submit" value="Submit" class="submit" />
    @*<input type="hidden" name="Id" value="@Model.Id" readonly />*@@*
</form>

<table cellpadding="5" width="100%">

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @i.Id
            </td>
            <td>
                @i.DealerName
            </td>
            <td>
                @i.DealerAddress
            </td>
            <td>
                @i.DealerAccountId
            </td>
            <td>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="border:solid" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
*@
<div class="header">DEALERS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Particulars</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Bank Reference</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Agents</a></li>
    </ul>
</div>

<form action="#">
    <div class="upper-body">
        <div class="form large">
            <label class="form-text for="DealerBusinessName">Business Name:</label>
            <input type="text" class="form-type" name="DealerBusinessName" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="DealerAddress">Address:</label>
            <input type="text" class="form-type" name="DealerAddress" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DealerTelNo">Telephone #:</label>
            <input type="text" class="form-type" name="DealerTelNo" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DealerCellNo">Cellphone #:</label>
            <input type="text" class="form-type" name="DealerCellNo" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DealerFaxNo">Fax #:</label>
            <input type="text" class="form-type" name="DealerFaxNo" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="DealerBusinessType">Business Type:</label>
            <input type="text" class="form-type" name="DealerBusinessType" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="DealerDateIssued">Date Issued:</label>
            <input type="text" class="form-type" name="DealerDateIssued" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DealerSecNo">Sec #:</label>
            <input type="text" class="form-type" name="DealerSecNo" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DealerEmail">Email:</label>
            <input type="text" class="form-type" name="DealerEmail" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DealerWebsite">Website:</label>
            <input type="text" class="form-type" name="DealerWebsite" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="DealerAuthorizationCapital">Authorization Capital:</label>
            <input type="text" class="form-type" name="DealerAuthorizationCapital" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="DealerSubscribedCapital">Subscribed Capital:</label>
            <input type="text" class="form-type" name="DealerSubscribedCapital" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="DealerPaidUpCapital">Paid Up Capital:</label>
            <input type="text" class="form-type" name="DealerPaidUpCapital" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="DealerTerms">Terms:</label>
            <input type="text" class="form-type" name="DealerTerms" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DTIRegNo">DTI Registration #:</label>
            <input type="text" class="form-type" name="DTIRegNo" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DTIDateIssued">DTI Date Issued:</label>
            <input type="text" class="form-type" name="DTIDateIssued" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DTIAmtCapital">DTI Amnt. Capital:</label>
            <input type="text" class="form-type" name="DTIAmtCapital" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DTIPaidUpCapital">DTI Paid Up Capital:</label>
            <input type="text" class="form-type" name="DTIPaidUpCapital" value="" />
        </div>
        <div class="form">
            <label class="form-text for="DTITaxAcctNo">DTI Tax Account #:</label>
            <input type="text" class="form-type" name="DTITaxAcctNo" value="" />
        </div>

        <div class="button-horizontal">
            <button type="submit" class="button">Save</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>
</form>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>