@{

    ViewData["Title"] = "Sharentach Trading Inc. | Purchases";
}

<div class="header">PURCHASES</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a class="tablinks" onclick="openTab(event, 'Details')" id="default">Details</a></li>
        <li><a class="tablinks" onclick="openTab(event, 'Item')">Items</a></li>
    </ul>
</div>

<div class="tabcontent" id="Details">
    <form method="post">
        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="referenceNo">Reference #:</label>
                <input type="text" class="form-type" name="referenceNo" placeholder="Enter here" value="@Model.Current.referenceNo" />
            </div>
            <div class="form large">
                <label class="form-text" for="receivedBy">Received By:</label>
                <input type="text" class="form-type" name="receivedBy" placeholder="Enter here" value="@Model.Current.receivedBy" />
            </div>
            <div class="form xlarge">
                <label class="form-text" for="purchasedFrom">Purchased From:</label>
                @Html.DropDownList("purchasedFrom", (List<SelectListItem>)Model.dealers, new { @class = "form-type" })
            </div>
            <div class="form large">
                <label class="form-text" for="datePurchased">Date Purchased:</label>
                <input type="text" class="form-type" name="datePurchased" placeholder="Enter here" value="@Model.Current.datePurchased" />
            </div>

            <div class="button-horizontal">
                <input type="submit" class="button" asp-area="" asp-controller="Purchases" asp-action="Edit" asp-route-id="@Model.Current.Id" value="Save">
                <input type="submit" class="button" asp-area="" asp-controller="Purchases" asp-action="index" asp-route-id="@Model.Current.Id" value="Cancel">
            </div>
        </div>
    </form>
</div>

<div class="tabcontent" id="Item">
    <div>
        <div class="upper-body">
            <table class="scroll" cellpadding="5" width="100%">
                <tr>
                    <th>
                        qty
                    </th>
                    <th>
                        unit
                    </th>
                    <th>
                        stockNo
                    </th>
                    <th>
                        unitPrice
                    </th>
                    <th>
                        amount
                    </th>
                    <th>
                        remarks
                    </th>
                </tr>
                @foreach (var i in Model.CurrentItems)
                {
                    <tr>
                        <td>
                            @i.qty
                        </td>
                        <td>
                            @i.unit
                        </td>
                        <td>
                            @i.stockName
                        </td>
                        <td>
                            @i.unitPrice
                        </td>
                        <td>
                            @i.amount
                        </td>
                        <td>
                            @i.remarks
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Purchases" asp-action="deleteitems" asp-route-id="@i.Id">
                                delete
                            </a>
                        </td>
                    </tr>
                }
            </table>

            <div class="button-vertical">
                <button onclick='document.getElementById("additemssbutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="Purchases" asp-action="additems" asp-route-id="@Model.Current.Id" id="additemssbutton">Add</a></button>
            </div>
        </div>
    </div>
</div>

<div class="lower-body">
    @* <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div> *@
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    PurchaseReferenceNo
                </th>
                <th>
                    PurchaseReceivedBy
                </th>
                <th>
                    PurchasePurchasedFrom
                </th>
                <th>
                    PurchaseDatePurchased
                </th>
            </tr>

            @foreach (var i in Model.Details)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Purchases" asp-action="index" asp-route-id="@i.Id">
                            @i.Id
                        </a>
                    </td>
                    <td>
                        @i.referenceNo
                    </td>
                    <td>
                        @i.receivedBy
                    </td>
                    <td>
                        @i.purchasedFrom
                    </td>
                    <td>
                        @i.datePurchased
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="button-vertical">
        <button onclick='document.getElementById("addbutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="Purchases" asp-action="add" asp-route-id="@Model.Current.Id" id="addbutton">Add</a></button>
        <button onclick='document.getElementById("deletebutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="Purchases" asp-action="delete" asp-route-id="@Model.Current.Id" id="deletebutton">delete</a></button>

    </div>
</div>

