@{

    ViewData["Title"] = "Sharentach Trading Inc. | Stocks";
}

<div class="header">STOCKS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a class="tablinks" onclick="openTab(event, 'Details')" id="default">Details</a></li>
    </ul>
</div>

<div class="tabcontent" id="Details">
    <form method="post">
        <div class="upper-body">
            <div class="form xlarge">
                <label class="form-text" for="StockName">Name:</label>
                <input type="text" class="form-type" name="StockName" placeholder="Enter here" value="@Model.CurrentDetails.name" />
            </div>
            <div class="form xlarge">
                <label class="form-text" for="StockDescription">Description:</label>
                <input type="text" class="form-type" name="StockDescription" placeholder="Enter here" value="@Model.CurrentDetails.description" />
            </div>
            <div class="form large">
                <label class="form-text" for="StockCategory">Category:</label>
                <input type="text" class="form-type" name="StockCategory" placeholder="Enter here" value="@Model.CurrentDetails.category" />
            </div>
            <div class="form">
                <label class="form-text" for="StockUnitPrice">Unit Price:</label>
                <input type="text" class="form-type" name="StockUnitPrice" placeholder="Enter here" value="@Model.CurrentDetails.unitPrice" />
            </div>
            <div class="form">
                <label class="form-text" for="StockUnit">Unit:</label>
                <input type="text" class="form-type" name="StockUnit" placeholder="Enter here" value="@Model.CurrentDetails.unit" />
            </div>
            <div class="form">
                <label class="form-text" for="StockQtyPerBox">Quantity Per Box:</label>
                <input type="text" class="form-type" name="StockQtyPerBox" placeholder="Enter here" value="@Model.CurrentDetails.qtyPerBox" />
            </div>
            <div class="form xlarge">
                <label class="form-text" for="StockSupplier">Supplier:</label>
                @Html.DropDownList("soldTo", (List<SelectListItem>)Model.dealers, new { @class = "form-type" })
            </div>
          

            <div class="button-horizontal">
                <label class="check">
                    <input type="checkbox" class="check-space" name="StockSerial" checked="@Model.CurrentDetails.hasSerial">Has Serial
                </label>
                <input type="submit" class="button" value="Save" />
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    id
                </th>
                <th>
                    StockName
                </th>
                <th>
                    StockCategory
                </th>
                <th>
                    StockUnitPrice
                </th>
                <th>
                    StockDescription
                </th>
            </tr>
            @foreach (var i in Model.Data)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Inventory" asp-action="index" asp-route-id="@i.Id">
                            @i.Id
                        </a>
                    </td>
                    <td>
                        @i.name
                    </td>
                    <td>
                        @i.category
                    </td>
                    <td>
                        @i.unitPrice
                    </td>
                    <td>
                        @i.description
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>