@{

    ViewData["Title"] = "Sharentach Trading Inc. | Stocks";
}

<div class="header">STOCKS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a class="tablinks" onclick="openTab(event, 'Details')" id="default">Details</a></li>
    </ul>
</div>

<div class="tabcontent" id="Details">
    <form method="post">
        <div class="upper-body">
            <div class="form xlarge">
                <label class="form-text" for="name">Name:</label>
                <input type="text" class="form-type" name="name" placeholder="Enter here" value="@Model.CurrentDetails.name" />
            </div>
            <div class="form xlarge">
                <label class="form-text" for="description">Description:</label>
                <input type="text" class="form-type" name="description" placeholder="Enter here" value="@Model.CurrentDetails.description" />
            </div>
            <div class="form large">
                <label class="form-text" for="category">Category:</label>
                <input type="text" class="form-type" name="category" placeholder="Enter here" value="@Model.CurrentDetails.category" />
            </div>
            <div class="form">
                <label class="form-text" for="unitPrice">Unit Price:</label>
                <input type="text" class="form-type" name="unitPrice" placeholder="Enter here" value="@Model.CurrentDetails.unitPrice" />
            </div>
            <div class="form">
                <label class="form-text" for="unit">Unit:</label>
                <input type="text" class="form-type" name="unit" placeholder="Enter here" value="@Model.CurrentDetails.unit" />
            </div>
            <div class="form">
                <label class="form-text" for="qtyPerBox">Quantity Per Box:</label>
                <input type="text" class="form-type" name="qtyPerBox" placeholder="Enter here" value="@Model.CurrentDetails.qtyPerBox" />
            </div>
            <div class="form xlarge">
                <label class="form-text" for="supplier">Supplier:</label>
                @Html.DropDownList("supplier", (List<SelectListItem>)Model.dealers, new { @class = "form-type" })
            </div>
          

            <div class="button-horizontal">
                @* <label class="check">
                    <input type="checkbox" class="check-space" name="Serial" checked="@Model.CurrentDetails.hasSerial">Has Serial
                </label> *@
                <input type="submit" class="button" asp-area="" asp-controller="Inventory" asp-action="edit" asp-route-id="@Model.CurrentDetails.Id" value="Save">
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="lower-body">
    @* <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div> *@
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    id
                </th>
                <th>
                    StockName
                </th>
                <th>
                    StockCategory
                </th>
                <th>
                    StockUnitPrice
                </th>
                <th>
                    StockDescription
                </th>
            </tr>
            @foreach (var i in Model.Data)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Inventory" asp-action="index" asp-route-id="@i.Id">
                            @i.Id
                        </a>
                    </td>
                    <td>
                        @i.name
                    </td>
                    <td>
                        @i.category
                    </td>
                    <td>
                        @i.unitPrice
                    </td>
                    <td>
                        @i.description
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="button-vertical">
        <button onclick='document.getElementById("addbutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="Inventory" asp-action="add" id="addbutton">Add</a></button>
        @* <button type="submit" class="button">Edit</button> *@
        <button onclick='document.getElementById("deletebutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="Inventory" asp-action="delete" asp-route-id="@Model.CurrentDetails.Id" id="deletebutton">Delete</a></button>

    </div>
</div>