@{

    ViewData["Title"] = "Sharentach Trading Inc. | Dealers";
}
@* sample
<form method="post">
    <label for="DealerName">Dealer Name:</label>
    <input type="text" name="DealerName" value="" />
    <label for="DealerAddress">Dealer Address:</label>
    <input type="text" name="DealerAddress" value="" />
    <label for="DealerAccountId">Dealer Account Id:</label>
    <input type="number" name="DealerAccountId" value="" />
    <input type="submit" value="Submit" class="submit" />
    @*<input type="hidden" name="Id" value="@Model.Id" readonly />*@@*
</form>

<table cellpadding="5" width="100%">

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @i.Id
            </td>
            <td>
                @i.DealerName
            </td>
            <td>
                @i.DealerAddress
            </td>
            <td>
                @i.DealerAccountId
            </td>
            <td>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="border:solid" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
*@
<div class="header">DEALERS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Particulars</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Bank Reference</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Agents</a></li>
    </ul>
</div>

<div class="upper-box" style="height: 385px;">
    <!-- row 1 -->
    <div class="text" style="top: 20px; left: 17px;">Business Name:</div>
    <div class="input-box" style="width:280px; top: 48px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 308px;">Address:</div>
    <div class="input-box" style="width:280px; top: 48px; left: 308px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 600px;">Telephone #:</div>
    <div class="input-box" style="width:165px; top: 48px; left: 600px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 780px;">Cellphone #:</div>
    <div class="input-box" style="width:165px; top: 48px; left: 780px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 960px;">Fax #:</div>
    <div class="input-box" style="width:165px; top: 48px; left: 960px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 2 -->
    <div class="text" style="top: 115px; left: 17px;">Business Type:</div>
    <div class="input-box" style="width:280px; top: 140px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 308px;">Date Issued:</div>
    <div class="input-box" style="width:280px; top: 140px; left: 308px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 600px;">Sec#:</div>
    <div class="input-box" style="width:165px; top: 140px; left: 600px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 780px;">Email:</div>
    <div class="input-box" style="width:165px; top: 140px; left: 780px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 960px;">Website:</div>
    <div class="input-box" style="width:165px; top: 140px; left: 960px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 3 -->
    <div class="text" style="top: 205px; left: 17px;">Authorization Capital:</div>
    <div class="input-box" style="width:280px; top: 230px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 308px;">Subscribed Capital:</div>
    <div class="input-box" style="width:280px; top: 230px; left: 308px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 600px;">Paid-up Capital:</div>
    <div class="input-box" style="width:280px; top: 230px; left: 600px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 895px;">Terms:</div>
    <div class="input-box" style="width:230px; top: 230px; left: 895px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 4 -->
    <div class="text" style="font-size: 17px;top: 295px; left: 17px;">DTI Registration #:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="font-size: 17px;top: 295px; left: 208px;">DTI Date Issued:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 208px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="font-size: 17px;top: 295px; left: 400px;">DTI Amnt. Capital:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 400px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="font-size: 17px;top: 295px; left: 590px;">DTI Paid Up Capital:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 590px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style=" font-size: 17px; top: 295px; left: 785px;">DTI Tax Account #:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 785px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="save-cancel">
        <input class="save-button" style="margin-top:320px; margin-left: 990px" type="submit" value="Save" />
        <button class="cancel-button" style="margin-top:320px; margin-right: 20px">Cancel</button>
    </div>
</div>
<div class="lower-box" style="height: 280px; top: 455px;">
</div>
