@{

    ViewData["Title"] = "Sharentach Trading Inc. | Delivery Receipts";
}
<div class="header">DELIVERY RECEIPTS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a class="tablinks" onclick="openTab(event, 'Details')" id="default">Details</a></li>
        <li><a class="tablinks" onclick="openTab(event, 'Item')">Items</a></li>@* 
        <li><a class="tablinks" onclick="openTab(event, 'Serial')">Serials</a></li> *@
        <li><a class="tablinks" onclick="openTab(event, 'Remittance')">Remittances</a></li>
    </ul>
</div>

<div class="tabcontent" id="Details">
    <form method="post">
        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="invoiceNo">Invoice #:</label>
                <input type="text" class="form-type" name="invoiceNo" placeholder="Enter here" value="@Model.CurrentDetails.invoiceNo" />
            </div>
            <div class="form large">
                <label class="form-text" for="soldTo">Sold To:</label>
                @Html.DropDownList("soldTo", (List<SelectListItem>)Model.dealers, new { @class = "form-type" })@*, new { @class = "form-control" })*
                <input type="text" class="form-type" name="DeliverySoldTo" placeholder="Enter here" />*@
            </div>
            <div class="form large">
                <label class="form-text" for="sRep">Sales Representative:</label>
                @Html.DropDownList("sRep", (List<SelectListItem>)Model.sRep, new { @class = "form-type" })@*
                <input type="text" class="form-type" name="DeliverySRep" placeholder="Enter here" />*@
            </div>
            <div class="form large">
                <label class="form-text" for="terms">Terms:</label>
                <input type="text" class="form-type" name="terms" placeholder="Enter here" value="@Model.CurrentDetails.terms" />
            </div>
            <div class="form large">
                <label class="form-text" for="PONum">P.O. #:</label>
                <input type="text" class="form-type" name="PONum" placeholder="Enter here" value="@Model.CurrentDetails.POnumber" />
            </div>
            <div class="form large">
                <label class="form-text" for="address">Address:</label>
                <input type="text" class="form-type" name="address" placeholder="Enter here" value="@Model.CurrentDetails.address" />
            </div>
            <div class="form large">
                <label class="form-text" for="dateSold">Date Sold:</label>
                <input type="text" class="form-type" name="dateSold" placeholder="Enter here" value="@Model.CurrentDetails.dateSold" />
            </div>
            <div class="form large">
                <label class="form-text" for="remarks">Remarks:</label>
                <input type="text" class="form-type" name="remarks" placeholder="Enter here" value="@Model.CurrentDetails.remarks" />
            </div>

            <div class="button-horizontal">
                <input type="submit" class="button" asp-area="" asp-controller="DeliveryReceipts" asp-action="Edit" asp-route-id="@Model.CurrentDetails.drNo" value="Save">
                <input type="submit" class="button" asp-area="" asp-controller="DeliveryReceipts" asp-action="index" asp-route-id="@Model.CurrentDetails.drNo" value="Cancel">
            </div>
        </div>
    </form>
</div>

<div class="tabcontent" id="Item">
    <div>
        <div class="upper-body">
            <table class="scroll" cellpadding="5" width="100%">
                <tr>
                    <th>
                        qty
                    </th>
                    <th>
                        unit
                    </th>
                    <th>
                        article
                    </th>
                    <th>
                        unitPrice
                    </th>
                    <th>
                        amount
                    </th>
                    <th>
                        payTo
                    </th>
                </tr>
                @foreach (var i in Model.CurrentItems)
                {
                    <tr>
                        <td>
                            @i.qty
                        </td>
                        <td>
                            @i.unit
                        </td>
                        <td>
                            @i.article
                        </td>
                        <td>
                            @i.unitPrice
                        </td>
                        <td>
                            @i.amount
                        </td>
                        <td>
                            @i.payTo
                        </td>
                        <td>
                            <a asp-area="" asp-controller="DeliveryReceipts" asp-action="deleteitem" asp-route-id="@i.id">
                                delete
                            </a>
                        </td>
                    </tr>
                }
            </table>

            <div class="button-vertical">
                <button onclick='document.getElementById("additembutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="DeliveryReceipts" asp-action="additems" asp-route-id="@Model.CurrentDetails.drNo" id="additembutton">Add</a></button>

            </div>
        </div>
    </div>
</div>

@* <div class="tabcontent" id="Serial">
    <div>
        <div class="upper-body">
            <table class="scroll" cellpadding="5" width="100%">
                <tr>
                    <th>
                        serialNo
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        desc
                    </th>
                    <th>
                        category
                    </th>
                    <th>
                        warranty
                    </th>
                    <th>
                        free
                    </th>
                    <th>
                        demo
                    </th>
                </tr>
            </table>

            <div class="button-vertical">
                <button type="submit" class="button">Add</button>
                <button type="submit" class="button">Edit</button>
                <button type="submit" class="button">Delete</button>
                <button type="submit" class="button">Batch Delete</button>
            </div>
        </div>
    </div>
</div> *@

<div class="tabcontent" id="Remittance">
    <div>
        <div class="upper-body">
            <table class="scroll" cellpadding="5" width="100%">
                <tr>
                    <th>
                        checkNo
                    </th>
                    <th>
                        accountNo
                    </th>
                    <th>
                        amount
                    </th>
                    <th>
                        dateIssued
                    </th>
                    <th>
                        dateDue
                    </th>
                    <th>
                        status
                    </th>
                    <th>
                        payToTheOrderOf
                    </th>
                    <th>
                        bankName
                    </th>
                </tr>
                @foreach (var i in Model.CurrentReferences)
                {
                    <tr>
                        <td>
                            @i.checkNo
                        </td>
                        <td>
                            @i.accountNo
                        </td>
                        <td>
                            @i.amount
                        </td>
                        <td>
                            @i.dateIssued
                        </td>
                        <td>
                            @i.dateDue
                        </td>
                        <td>
                            @i.status
                        </td>
                        <td>
                            @i.payToTheOrderOf
                        </td>
                        <td>
                            @i.bankName
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="lower-body">
    @* <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div> *@
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    DeliveryDrNo
                </th>
                <th>
                    DeliveryInvoiceNo
                </th>
                <th>
                    DeliverySoldTo
                </th>
                <th>
                    DeliveryDateSold
                </th>
                <th>
                    DeliveryTerms
                </th>
            </tr>
            @foreach (var i in Model.Data)
            {

                <tr>
                    <td>
                       <a asp-area="" asp-controller="DeliveryReceipts" asp-action="index" asp-route-id="@i.drNo">
                            @i.drNo
                        </a>
                    </td>
                    <td>
                        @i.invoiceNo
                    </td>
                    <td>
                        @i.soldTo
                    </td>
                    <td>
                        @i.dateSold
                    </td>
                    <td>
                        @i.terms
                    </td>
                </tr>

            }
        </table>
    </div>
    <div class="button-vertical">
        <button onclick='document.getElementById("addbutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="DeliveryReceipts" asp-action="add" asp-route-id="@Model.CurrentDetails.drNo" id="addbutton">Add</a></button>
        <button onclick='document.getElementById("deletebutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="DeliveryReceipts" asp-action="delete" asp-route-id="@Model.CurrentDetails.drNo" id="deletebutton">Delete</a></button>

    </div>
</div>
