@{

    ViewData["Title"] = "Sharentach Trading Inc. | Receivables";
}

<div class="header">RECEIVABLES</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a class="tablinks" onclick="openTab(event, 'Details')" id="default">Details</a></li>
        <li><a class="tablinks" onclick="openTab(event, 'Reference')">Reference No.</a></li>
    </ul>
</div>

<div class="tabcontent" id="Details">
    <form method="post">
        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="ReceiveAccountNo">Account #:</label>
                <input type="text" class="form-type" name="ReceiveAccountNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveDealer">Dealer:</label>
                <input type="text" class="form-type" name="ReceiveDealer" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveCheckNo">Check #:</label>
                <input type="text" class="form-type" name="ReceiveCheckNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveRtNo">RT #:</label>
                <input type="text" class="form-type" name="ReceiveRtNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceivePayToTheOrderOf">Pay To the Order of:</label>
                <input type="text" class="form-type" name="ReceivePayToTheOrderOf" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveDateIssued">Date Issued:</label>
                <input type="text" class="form-type" name="ReceiveDateIssued" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveDateDue">Date Due:</label>
                <input type="text" class="form-type" name="ReceiveDateDue" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveAmount">Amount:</label>
                <input type="text" class="form-type" name="ReceiveAmount" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveStatus">Status:</label>
                <input type="text" class="form-type" name="ReceiveStatus" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="ReceiveRemarks">Remarks:</label>
                <input type="text" class="form-type" name="ReceiveRemarks" placeholder="Enter here" />
            </div>

            <div class="button-horizontal">
                <div class="button-horizontal">
                    <input type="submit" class="button" value="Save" />
                    <button type="submit" class="button">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="tabcontent" id="Reference">
    <div>
        <div class="upper-body">
            <table class="scroll" cellpadding="5" width="100%">
                <tr>
                    <th>
                        drNo
                    </th>
                    <th>
                        invoiceNo
                    </th>
                    <th>
                        date
                    </th>
                    <th>
                        dealer
                    </th>
                    <th>
                        drAmount
                    </th>
                    <th>
                        amount
                    </th>
                    <th>
                        checkAmount
                    </th>
                    <th>
                        checkBalance
                    </th>
                </tr>
                @foreach (var i in Model.CurrentReferenceNo)
                {
                    <tr>
                        <td>
                            @i.drNo
                        </td>
                        <td>
                            @i.invoiceNo
                        </td>
                        <td>
                            @i.date
                        </td>
                        <td>
                            @i.dealer
                        </td>
                        <td>
                            @i.drAmount
                        </td>
                        <td>
                            @i.amount
                        </td>
                        <td>
                            @i.checkAmount
                        </td>
                        <td>
                            @i.checkBalance
                        </td>
                    </tr>
                }
            </table>

            <div class="button-vertical">
                <button type="submit" class="button">Save</button>
                <button type="submit" class="button">Manage</button>
                <button type="submit" class="button">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    ReceiveAccountNo
                </th>
                <th>
                    ReceiveDealer
                </th>
                <th>
                    ReceiveBankName
                </th>
                <th>
                    ReceiveCheckNo
                </th>
                <th>
                    ReceiveRtNo
                </th>
                <th>
                    ReceivePayToTheOrderOf
                </th>
                <th>
                    ReceiveDateIssued
                </th>
                <th>
                    ReceiveDateDue
                </th>
                <th>
                    ReceiveAmount
                </th>
                <th>
                    ReceiveStatus
                </th>
                <th>
                    ReceiveRemarks
                </th>
            </tr>
            @foreach (var i in Model.Data)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Receivables" asp-action="index" asp-route-id="@i.Id">
                            @i.Id
                        </a>
                    </td>
                    <td>
                        @i.accountNo
                    </td>
                    <td>
                        @i.dealer
                    </td>
                    <td>
                        @i.bankName
                    </td>
                    <td>
                        @i.checkNo
                    </td>
                    <td>
                        @i.rtNo
                    </td>
                    <td>
                        @i.payToTheOrderOf
                    </td>
                    <td>
                        @i.dateIssued
                    </td>
                    <td>
                        @i.dateDue
                    </td>
                    <td>
                        @i.amount
                    </td>
                    <td>
                        @i.status
                    </td>
                    <td>
                        @i.remarks
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>
